

<!DOCTYPE html>
<html>
  <head>
    <title>Get data from mongodb</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Data is decrypted</h1>
    <p>Please see the data in the console!</p>
	<h3>Finally, I can display it here.</h3>
	

		<p><%= items%> </p>
	
		
		<h2>Thank you!</h2>
		
    
    
  </body>
</html>